<section class="partners">
  <div class="container partners__container flex">
    <h2 class="partners__title">Partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img class="partners__logo" src="../img/partners1.jpg" loading="lazy" width="160" height="67" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img class="partners__logo" src="../img/partners2.jpg" loading="lazy" width="160" height="67" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img class="partners__logo" src="../img/partners3.jpg" loading="lazy" width="160" height="67" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img class="partners__logo" src="../img/partners4.jpg" loading="lazy" width="160" height="67" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img class="partners__logo" src="../img/partners5.jpg" loading="lazy" width="160" height="67" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img class="partners__logo" src="../img/partners6.jpg" loading="lazy" width="160" height="67"" alt="">
        </a>
      </li>
    </ul>
    <a href="#" class="partners__more">See All</a>
  </div>
</section>
